body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

.student {
    font-size: 25px;
    font-weight: 700;
    margin-right: 50px;
}

h1 {
    font-size: 25px;
    margin-left: 20px;
}
table {
    width: 60%;
    margin: auto auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}